main.c
11-binary_tree_size.c
12-binary_tree_leaves.c
13-binary_tree_nodes.c
14-binary_tree_balance.c
15-binary_tree_is_full.c
16-binary_tree_is_perfect.c
17-binary_tree_sibling.c
18-binary_tree_uncle.c
binary_tree_print.c
makefile
.vscode